<form>
  <mat-form-field>
    <input matInput placeholder="Iframe" [formControl]="inputFormControl">
  </mat-form-field>
</form>
<button mat-flat-button color="primary" (click)="send()">Send Message</button>
<p>{{ message }}</p>

<iframe id="inline-frame-id"
        title="Inline Frame Example"
        width="300"
        height="200"
        name="inner-frame"
        src="https://cross-tab-communication.lhtang.now.sh/iframe.html">
</iframe>

<markdown src="assets/iframe.md"></markdown>


<p>下图是使用 iframe 的非同源页面间通信示意图。</p>
<img src="/assets/iframe_bridge.png" width="100%">